<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apple.glidetest">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/provider_name"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".CommonPickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:name=".BigImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PickerActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".RecordMediaActivity"/>
    </application>

</manifest>